@tailwind base;


#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


@tailwind components;

@tailwind utilities;


.tracking-tight {
  letter-spacing: -0.05em;
}

.tracking-normal {
  letter-spacing: 0;
}

.tracking-wide {
  letter-spacing: 0.05em;
}